.intro-pic figure {
  width: 320px;
  height: 389px;
  margin: 0;
  padding: 0;

  text-align: center;

  background-color: #e3f0f8;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  //background-position-y: -56px;
}

.intro-pic__text-sedona {
  margin: 90px 0 0 0;
}

.intro-pic__triangle {
  margin: 59px 0 0 0;
}
