@import "page-header.scss";
@import "main-nav.scss";
@import "site-list.scss";


.visually-hidden {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

a {
  text-decoration: none;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}
